services:
  app:
    build: .
    restart: always
    ports:
      - '3000:3000'
    depends_on:
      - mongo
    environment:
      - DATABASE_URL=mongodb://mongo:27017/armagedon
      - PAYLOAD_SECRET=${PAYLOAD_SECRET}
      - NODE_ENV=production
    volumes:
      - uploads:/app/media

  mongo:
    image: mongo:7
    restart: always
    volumes:
      - mongodata:/data/db
    command: --storageEngine=wiredTiger

volumes:
  mongodata:
  uploads:
